@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
:root{
    --background: #f2ece0;
    --buttons: #FFFFFF80;
    --footer: #FFFFFFB2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Nunito', sans-serif;
    font-size: 62.5%;
}
body{
    background-color: var(--background);
}
.wrapper{
    overflow-x: hidden;
    position: relative;
    padding: 0 20px 0 20px;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    gap: 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__button{
    border: 0;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--buttons);
    box-shadow: 8px 0px 25px 0px #1C3C4559;
    transition: 0.3s;
    cursor: pointer;
}
.header__button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.main{
    display: flex;
    align-items: start;
}
.main__trends--block{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.main__title{
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
.main__trend--card{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    display: grid;
    grid-template-columns: repeat (7, 1fr);
    pointer-events: none;
}
.footer{
    position: relative;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%);
    width: 95%;
    height: 66px;
    background-color: var(--footer);
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
}
.footer__buton{
    cursor: pointer;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}
.music--button{
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    bottom: 0;
    animation: 5s linear infinite rotating;
}
@keyframes rotating{
    0% {
        transform: rotate(0deg);
      }
    100% {
        transform: rotate(360deg);
    }
}
.main__cards{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}
.albums__cards{
    margin-right: 30px;
    height: 160px;
}
